body{
   background-color: black;
   
}
 
 .navbar{
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 15px 20px;
    align-items: center;
    color: whitesmoke;
 }
 .navbar .logo{
    font-weight: 600;
    font-size: 20px;
    background:linear-gradient(
   270deg,
   orange 10%,
   red 100%);
   background-clip: text;
   color: transparent;
 }
 .nav-links{
    list-style: none;
    display: flex;
 }
 .nav-links li{
    margin: 0px 15px;
 }

 .nav-links .current a{
   margin: 0px 15px;
   color: rgb(255, 59, 10);
   
}
 .nav-links a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.3s;
 }
 .nav-links a:hover{
    color: rgb(255, 0, 0);
    transition: ease-in-out;
 }
/* Responsive styles */
@media(max-width: 768px){
    .menu-btn{
        display: block;
    
    }
    .nav-links{
        position: absolute;
        text-align: center;
        flex-direction: column;
        top: 60px;
        left: 0;
        pointer-events: none;
        width: 100%;
        transform :translateY(-10);
        background-color:black;
        opacity: 0;
    }
    .nav-links li{
        margin: 10px 0px;


    }
    .nav-links.active{
        opacity: 1px;
        transform: translateY(0);
        pointer-events: auto;
    }
}
.name {

  font-family: "Playwrite IT Moderna", cursive;
  font-weight: 400;
  font-style: normal;
  color:red;
 
}
.resume{
   margin-left: 150px;
   font-weight: 500;
   font-style: normal;
   font-size: 30px;
   float:inherit;
padding-top: 150px;
color: white;
}
.lorem{
   margin-left: 150px;
 font-family: "Playwrite IT Moderna", cursive;
 color: orangered;
}
.main{
  display: flex;
  flex-direction: row;
}
.right{
   padding-top: 150px;
   padding-left: 20px;
   size: 100px;
   margin-left: 50px;
   
}
footer{
   text-align: center;
   background-color: rgb(48, 70, 64);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: aliceblue;


}
.right img{
   border-radius: 50%;
  height: 400px;
   width: 400px;
   border-style: solid;
   margin-bottom: 100px;
   margin-top: 0;
   box-shadow: 16px;
}
.right img:hover{
   transform: scale(1.05);
   box-shadow: 0 0 25px rgb(255, 255, 255);
   box-shadow: 0 0 25px rgb(255, 254, 253);
   transition: 0.3s ease-in-out;
}
.input{
   background-color: black;
   margin-left: 150px;
   margin-top: 20px;
   color: wheat;
   width: 60px;
   height: 30px;
}
.gradient-btn{
   font-size: 1.8rem;
   padding: 1rem 2rem;
   border-radius: 2rem;
background:linear-gradient(
   270deg,
   orange 10%,
   red 100%
);
letter-spacing: 1px;
cursor: pointer;
transition:0.3s ease-in-out;
color: white;
border :none;
text-wrap: nowrap;
margin-left: 150px;
}
.gradient-btn:hover{
   transform: scale(1.05);
   box-shadow: 0 0 25px rgb(255, 60, 0);
   box-shadow: 0 0 25px rgb(255, 53, 3);
   transition: 0.3s ease-in-out;
}
.web{
   color: orangered;
}

    
    
